.App {
  display: table;
  height: 100%;
}


html, body {
  height: 100%;
  overflow: hidden;
}


.engine{
  position: absolute;
  height: 100%;
  width: 100%;
}


.engine > .loading-overlay {
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: light;
}

.Loading_poezd {
  position: absolute;
  bottom: 5%;
  scale: 25%;
  transform: translateX(-215%);
}


#App_title {
  position: center;
  text-align: left;
  font-weight: medium; 
  transform: translateX(5%);
}


#Percent {
  position: absolute;
  bottom: 2%;
  left:50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 20px;
  color: white;
}

#line {
  position: absolute;
  bottom: 10%;
  height: 0.5px;
}

#RZD_logo {
  position: absolute;
  scale: 15%;
  top: -250px;
}


@keyframes color_change {
  0%, 100%{
    color: white;
  }
  50%{
    color: rgb(226, 26, 26);
  }

}
/*@keyframes load_anim{
  0% {
    transform: translateX(0%);
  }

  5% {
    transform: translateX(5%);
  }

  15%{
    transform: translateX(15%);
  }

  25% {
    transform: translateX(25%);
  }

  50%{
    transform: translateX(50%);
  }

  100%{
    transform: translateX(100%);
  }
} */