:root{
  --position_p: 20%;

}




.App {
  display: table;
  height: 100%;
}


html, body {
  height: 100%;
  overflow: hidden;
}


.engine{
  position: static;
  height: 100%;
  width: 100%;
}


.engine > .loading-overlay {
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: light;
}



#percent {
  position: absolute;
  top: 90%;


  font-weight: bold;
}

#loading_line {
  position: absolute;
  top: 85%;
  width: 100%;
}

#load_anim {
  position: fixed;
  scale: 20%;
  top: 75%;
  transform: translateX(5%);
  animation: load_anim 2s linear;

}

#rzd_logo {
  position: absolute;
  scale: 10%;
  top: -200px;  
}

#App{
  position: absolute;
  transform: translateX(7%);
}
@keyframes load_anim{
  0% {
    transform: translateX(-20%);
  }
  100%{
    transform: translateX(+position_p);
  }
}
